﻿@using System.Collections
@using BMS.Resource
@{
    ViewBag.Title = "Item";
}
@(Html.Kendo().Grid<BMS.Entity.BMSTenant.Item>()
      .Name("gItem")
      .Columns(columns =>
      {
          columns.ForeignKey(c => c.BrandId, (IEnumerable)ViewData["Brands"], "Id", "ShortName").Title(Resource.Brand).Width(120);
          columns.ForeignKey(c => c.CategoryId, (IEnumerable)ViewData["Categories"], "Id", "ShortName").Title(Resource.Category).Width(120);
          columns.ForeignKey(c => c.ProductId, (IEnumerable)ViewData["Products"], "Id", "ShortName").Title(Resource.Product);
          columns.Bound(c => c.UOMValue).Format("{0:N3}").EditorTemplateName("UOMValue").Title(Resource.Value).Width(100).HtmlAttributes(new { style = "text-align:right;" });
          columns.ForeignKey(c => c.UOMId, (IEnumerable)ViewData["UnitOfMeasures"], "Id", "ShortName").Title(Resource.UOM).Width(60);
          columns.Bound(c => c.UnitsPerCase).EditorTemplateName("PossitiveInteger").Title(Resource.UPC).Width(60).HtmlAttributes(new { style = "text-align:right;" });
          columns.Bound(c => c.FreePerUnits).EditorTemplateName("PossitiveInteger").Title(Resource.FPC).Width(60).HtmlAttributes(new { style = "text-align:right;" });
          columns.Bound(c => c.PurchasePrice).Format("{0:N2}").EditorTemplateName("Currency").Title(Resource.Purch_Pr).Width(100).HtmlAttributes(new { style = "text-align:right;" });
          columns.Bound(c => c.SalesPrice).Format("{0:N2}").EditorTemplateName("Currency").Title(Resource.Sale_Pr).Width(100).HtmlAttributes(new { style = "text-align:right;" });
          columns.Bound(c => c.WholesalePrice).Format("{0:N2}").EditorTemplateName("Currency").Title(Resource.Wh_Sale).Width(100).HtmlAttributes(new { style = "text-align:right;" });
          columns.Command(command => { command.Destroy().Text(Resource.Delete); }).HtmlAttributes(new { style = "text-align:center;width:80px;" });
      })
      .ToolBar(toolbar =>
      {
          //toolbar.Create().Text(Resource.Add);
          //toolbar.Save().SaveText(Resource.Save).CancelText(Resource.Cancel);
          toolbar.Template(@<text>
        <span style="float: left; font-size: 18px; padding: 4px;">@Resource.Inventory</span>
        <a class="k-button k-button-icontext k-grid-add" href="/data/Items/GetItems"><span class="k-icon k-i-add"></span>@Resource.Add</a>
        <a class="k-button k-button-icontext k-grid-save-changes" href="javascript:void(0)"><span class="k-icon k-i-check"></span>@Resource.Save</a>
        <a class="k-button k-button-icontext k-grid-cancel-changes" href="javascript:void(0)"><span class="k-icon k-i-cancel"></span>@Resource.Cancel</a>
        </text>);
      })
      .Editable(editable => editable.Mode(GridEditMode.InCell))
      .Pageable()
      .Groupable()
      .Navigatable()
      .Selectable(selectable =>
      {
          selectable.Mode(GridSelectionMode.Single);
          selectable.Type(GridSelectionType.Row);
      })
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.MultipleColumn);
      })
      .Filterable(f => f.Mode(GridFilterMode.Menu))
      .DataSource(dataSource => dataSource
          .WebApi()
          .Batch(false)
          .PageSize(10)
          .Model(model =>
          {
              model.Id(p => p.Id);
              model.Field(x => x.BrandId);
              model.Field(x => x.CategoryId);
              model.Field(x => x.ProductId);
              model.Field(x => x.UOMValue);
              model.Field(x => x.UOMId);
              model.Field(x => x.UnitsPerCase);
              model.Field(x => x.PurchasePrice);
              model.Field(x => x.SalesPrice);
              model.Field(x => x.WholesalePrice);
          })
          .Read(read => read.Url(Url.HttpRouteUrl("ActionApi", new { controller = "Items", action = "GetItems" })))
          .Create(create => create.Url(Url.HttpRouteUrl("ActionApi", new { controller = "Items", action = "PostItem" })))
          .Update(update => update.Url(Url.HttpRouteUrl("ActionApi", new { controller = "Items", action = "PutItem", id = "{0}" })))
          .Destroy(destroy => destroy.Url(Url.HttpRouteUrl("ActionApi", new { controller = "Items", action = "DeleteItem", id = "{0}" })))
      )
      .Pageable(p => p.Refresh(true).PageSizes(new[] { 10, 20, 50, 100 })))

