﻿@using BMS.Entity
@using BMS.Web.Models
@using Entity = BMS.Entity.BMSMaster.Entity
<style>
    .hit-the-floor {
        color: #fff;
        font-size: 36px !important;
        font-weight: bold;
        font-family: Helvetica;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }
</style>
@if (User.Identity.IsAuthenticated)
{
    <span class="hit-the-floor navbar-brand" style="padding-top: 7px;">
        <i class="fa fa-bars"></i>
    </span>
}
@Html.ActionLink("BMS 16", "Index", "Home", new { area = "" }, new { @class = "navbar-brand hit-the-floor" })

@*@if (User.Identity.IsAuthenticated)
{
    if (Session[Key.Entity] == null)
    {
        Session[Key.Entity] = User.GetEntities().FirstOrDefault();
    }
}*@
