﻿body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

#moving-image {
    background: url('images/corporate/corporate4.jpg') -25px -50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-size: calc(100% + 50px);
}

/*Align grid toolbar buttons right*/
.k-grid-toolbar {
    text-align: right;
}

.navbar {
    background-color: #23b7e5;
    border: none;
    box-shadow: 0 0 5px #999;
}

    .navbar i.fa-bars {
        color: #FFFFFF;
        cursor: pointer;
        float: left;
    }

.navbar-brand, .navbar-nav > li > a {
    color: #ffffff !important;
}

    .navbar-brand:hover, .navbar-nav > li > a:hover {
        text-shadow: 0 0 2px #FFF;
    }




#menu-wrapper {
    padding: 7px;
}

footer {
    position: fixed;
    opacity: 0.8;
    left: 0;
    bottom: 0;
    background-color: #23b7e5;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 10px;
    box-shadow: 0 0 5px #999999;
    padding: 1px;
}

#form-cult img {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

    /* Disable grayscale on hover */
    #form-cult img:hover {
        filter: none;
        -webkit-filter: grayscale(0);
    }

.selected-language {
    filter: none !important;
    -webkit-filter: grayscale(0) !important;
}

th.number {
    text-align: right;
}

td.number {
    text-align: right;
}

.excess-var {
    color: green;
    font-weight: bold;
}

.short-var {
    color: red;
    font-weight: bold;
}

.k-grid-toolbar i {
    margin: 0 .3rem 0 -.3rem;
    width: 16px;
    height: 16px;
}

.strong {
    font-weight: bold;
}

#finalized {
    display: none;
    padding: 6px;
    color: green;
    font-weight: bold;
}

.payment-row {
    box-shadow: 0 0 2px #999;
    padding: 10px;
    margin-bottom: 4px;
}

#loginForm {
    box-shadow: 0 0 5px #999;
    padding: 10px;
    border: 10px;
    background-color: #FFF;
}

    #loginForm input:not([type="checkbox"]) {
        width: 100%;
        padding: 5px;
        opacity: 1;
        font-size: 150%;
    }

/*.login-body {
    background: url('images/office_room.jpg') no-repeat;
    background-size: cover;
    background-color: #ffffff;
    width: 97%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}*/

.login-para {
    background-color: #FFF;
    padding: 10px;
    text-align: justify;
    box-shadow: 0 0 5px #999;
    opacity: 0.95;
}

#rev_slider_34_1_wrapper {
    width: 98% !important;
    left: 1% !important;
    margin-top: 15px !important;
    box-shadow: 0 0 10px #999999;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*Telerik Report Viewer*/
#reportViewer {
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 1210px;
    text-align: center;
    font-family: Verdana, Arial;
}

.trv-report-page {
    margin: 0 auto;
}

.fa.red {
    color: red;
}

.fa.green {
    color: green;
}

.fa.orange {
    color: orange;
}

/*radio dot alignment fix*/
.k-radio:checked + .k-radio-label:after {
    top: 2px !important;
    left: 2px !important;
}

#report-filters {
    margin-bottom: 10px;
}

#report-filters label {
    text-align: right;
}

.stock-health-bad{
    float:left;
    color:red !important;
}

.stock-health-good {
    float: left;
    color: green !important;
}

.left-float {
    float: left !important;
}

.dashboard-widjet {
    margin: 5px auto;
    padding: 5px;
    box-shadow: 0 0 2px #CCC;
}

.highcharts-container {
    width: 100% !important;
    height: 100% !important;
}

.fa.dim {
    color: #eeeeee;
}

/*kendo tree view node take full width*/
.k-in {
    width: 90%;
}