﻿@using BMS.Resource
@using BMS.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = Resource.Log_in;
    Layout = "~/Views/Shared/_LayoutWithoutHeader.cshtml";
}

<style>
    .retroshadow {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        text-shadow: 2px 2px 0px #d5d5d5, 3px 3px 0px rgba(0, 0, 0, 0.2);
    }
</style>
<div id="moving-image"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <h1 class="login-para retroshadow">Business Management System 2016</h1>
            <p class="login-para" style="font-size: 20px;">
                &nbsp;&nbsp;&nbsp;&nbsp;@Resource.login_para1
                <br />
                @Resource.login_para2
            </p>
        </div>
        <div class="col-md-5">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <h1 class="retroshadow">@Resource.Log_in</h1>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.Kendo().TextBoxFor(x => x.Email).HtmlAttributes(new { @class = "form-control", placeholder = Resource.Email })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.Kendo().TextBoxFor(x => x.Password).HtmlAttributes(new { type = "password", @class = "form-control", placeholder = Resource.Password })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="checkbox">
                                @Html.Kendo().CheckBoxFor(x => x.RememberMe).Label(Resource.Remember_Me)
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <input type="submit" value="@Resource.Enter" class="k-button" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group" style="text-align: center;">
                        @Html.ActionLink(Resource.Forgot_your_password_, "ForgotPassword")
                    </div>
                    @*<p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>
                         Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                }
            </section>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var movementStrength = 25;
        var height = movementStrength / $(window).height();
        var width = movementStrength / $(window).width();
        $("#moving-image").mousemove(function (e) {
            var pageX = e.pageX - ($(window).width() / 2);
            var pageY = e.pageY - ($(window).height() / 2);
            var newvalueX = width * pageX * -1 - 25;
            var newvalueY = height * pageY * -1 - 50;
            $('#moving-image').css("background-position", newvalueX + "px     " + newvalueY + "px");
        });

        $('.container-fluid').css('margin-top', ($(document).height() - $('.container-fluid').height()) / 2 + 'px');
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}