﻿@using BMS.Entity
@using BMS.Resource
@using BMS.Web.Models
@{
    ViewBag.Title = Resource.Collection_Sheet;
    var entity = User.GetSelectedEntity(Convert.ToInt32(Request.Cookies[Key.Entity]?.Value));
}

<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-11.0.17.222.min.js")"></script>

<div id="report-filters" class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <label class="col-md-2">From </label>
                <div class="col-md-4">
                    @Html.Kendo().DatePicker().Name("dpBillFromDate").Value(DateTime.Today.AddYears(-2)).Events(e => e.Change("refreshViewer"))
                </div>
            </div>
            <div class="row">
                <label class="col-md-2">To </label>
                <div class="col-md-4">
                    @Html.Kendo().DatePicker().Name("dpBillToDate").Value(DateTime.Today).Max(DateTime.Now).Events(e => e.Change("refreshViewer"))
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
            <label class="col-md-2">Area </label>
                <div class="col-md-10">
                    @(Html.Kendo().MultiSelect().Name("msArea")
                      .Placeholder("Select Here...")
                      .DataTextField("ShortName")
                      .DataValueField("Id")
                      .DataSource(s =>
                      {
                          s.Read(r =>
                          {
                              r.Url(Url.HttpRouteUrl("ActionApi", new { controller = "Areas", action = "GetAll" }));
                          });
                      }).Events(e => e.Change("refreshViewer"))
                      .AutoClose(false)
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<div id="reportViewer">
    <img style="margin: auto" src="~/Content/kendo/Metro/loading-image.gif" />
</div>

<script>
    var refreshViewer = function () {
        var viewer = $("#reportViewer").data("telerik_ReportViewer");

        viewer.reportSource({
            report: viewer.reportSource().report,
            parameters: {
                Areas: $('#msArea').data('kendoMultiSelect').value().toString(),
                From: $('#dpBillFromDate').val(),
                To: $('#dpBillToDate').val(),
                DatabaseName: '@entity.DatabaseName',
                CompanyName: '@entity.Name'
            }
        }).refreshReport();
    };

    $(document).ready(function () {
        setTimeout(function () {
            $("#reportViewer")
                .telerik_ReportViewer({
                    serviceUrl: "@Url.HttpRouteUrl("DefaultApi",new {controller="Reports"})",
                    reportSource: {
                        report: "Collection Sheet.trdp",
                        parameters: {
                            Areas: $('#msArea').data('kendoMultiSelect').value().toString(),
                            From: $('#dpBillFromDate').val(),
                            To: $('#dpBillToDate').val(),
                            DatabaseName: '@entity.DatabaseName',
                            CompanyName: '@entity.Name'
                        }
                    },
                    //scaleMode: "FIT_PAGE_WIDTH",
                    viewMode: "PRINT_PREVIEW",//'INTERACTIVE',
                    printMode: "AUTO_SELECT",
                    error: function () {
                        notify('Something went Wrong', 'warning');
                    },
                    ready: function () {
                        //this.refreshReport();
                        //$('#reportViewer').height($(document).height() - 188 + 'px');
                    }
                });
        }, 2500);
    });
</script>
