﻿@using BMS.Entity
@using BMS.Resource
@using BMS.Web.Models
@{
    ViewBag.Title = Resource.Collection_Report;
    var entity = User.GetSelectedEntity(Convert.ToInt32(Request.Cookies[Key.Entity]?.Value));
}

<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-11.0.17.222.min.js")"></script>

<div id="report-filters" class="container-fluid">
    <div class="row">
        <label class="col-md-1">From </label>
        <div class="col-md-2">
            @Html.Kendo().DatePicker().Name("dpBillFromDate").Value((DateTime?)ViewData["Date"] ?? DateTime.Today).Events(e => e.Change("refreshViewer"))
        </div>
        <label class="col-md-1">To </label>
        <div class="col-md-2">
            @Html.Kendo().DatePicker().Name("dpBillToDate").Value((DateTime?)ViewData["Date"] ?? DateTime.Today).Events(e => e.Change("refreshViewer"))
        </div>
        <div class="col-md-2">
            <input type="checkbox" id="show-summary" class="k-checkbox" />
            <label class="k-checkbox-label" for="show-summary" style="margin: 6px;">Summary</label>
        </div>
        <div class="col-md-2">
            <input type="checkbox" id="show-only-summary" class="k-checkbox" />
            <label class="k-checkbox-label" for="show-only-summary" style="margin: 6px;">Summary Only</label>
        </div>
    </div>
</div>

<div id="reportViewer">
    <img style="margin: auto" src="~/Content/kendo/Metro/loading-image.gif" />
</div>

<script>
    var refreshViewer = function () {
        var viewer = $("#reportViewer").data("telerik_ReportViewer");

        viewer.reportSource({
            report: viewer.reportSource().report,
            parameters: {
                FromDate: $('#dpBillFromDate').val(),
                ToDate: $('#dpBillToDate').val(),
                DatabaseName: '@entity.DatabaseName',
                CompanyName: '@entity.Name',
                ShowSummary: $('#show-summary').prop('checked') || $('#show-only-summary').prop('checked'),
                ShowDetails: !$('#show-only-summary').prop('checked')
            }
        }).refreshReport();
    };

    var initReportViewer = function() {
        $("#reportViewer")
            .telerik_ReportViewer({
                serviceUrl: "@Url.HttpRouteUrl("DefaultApi",new {controller="Reports"})",
                reportSource: {
                    report: "Collection Report.trdp",
                    parameters: {
                        FromDate: $('#dpBillFromDate').val(),
                        ToDate: $('#dpBillToDate').val(),
                        DatabaseName: '@entity.DatabaseName',
                        CompanyName: '@entity.Name',
                        ShowSummary: $('#show-summary').prop('checked') || $('#show-only-summary').prop('checked'),
                        ShowDetails: !$('#show-only-summary').prop('checked')
                    }
                },
                //scaleMode: "FIT_PAGE_WIDTH",
                viewMode: "PRINT_PREVIEW",//'INTERACTIVE',
                printMode: "AUTO_SELECT",
                error: function() {
                    notify('Something went Wrong', 'warning');
                },
                renderingEnd: function() {
                    @if ((bool?)ViewData["Print"] == true)
                    {
                        @:this.commands.print.exec();
                    }
                }
            });
    };

    $(document).ready(function () {
        setTimeout(function () {
            initReportViewer();
        }, 2500);

        $('#show-summary,#show-only-summary')
            .change(function () {
                refreshViewer();
            });
    });
</script>
