﻿@using BMS.Entity
@using BMS.Resource
@using BMS.Web.Models
@{
    ViewBag.Title = Resource.Road_Distribution;
    var entity = User.GetSelectedEntity(Convert.ToInt32(Request.Cookies[Key.Entity]?.Value));
}

<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-11.0.17.222.min.js")"></script>

<div id="report-filters" class="container-fluid">
    <div class="row">
        <label class="col-md-1">From </label>
        <div class="col-md-2">
            @Html.Kendo().DatePicker().Name("dpBillFromDate").Value((DateTime?)ViewData["Date"] ?? DateTime.Today).Events(e => e.Change("refreshViewer"))
        </div>
        <label class="col-md-1">To </label>
        <div class="col-md-2">
            @Html.Kendo().DatePicker().Name("dpBillToDate").Value((DateTime?)ViewData["Date"] ?? DateTime.Today).Events(e => e.Change("refreshViewer"))
        </div>
        <label class="col-md-1">Vehicle </label>
        <div class="col-md-4">
            @(Html.Kendo().MultiSelect().Name("msVehicle")
                  .Placeholder("Select Here...")
                  .DataTextField("No")
                  .DataValueField("Id")
                  .DataSource(s =>
                  {
                      s.Read(r =>
                      {
                          r.Url(Url.HttpRouteUrl("ActionApi", new { controller = "Vehicles", action = "GetAll" }));
                      });
                  }).Events(e => e.Change("refreshViewer").DataBound("msVehicleOnDataBound"))
            )
        </div>
    </div>
</div>

<div id="reportViewer">
    <img style="margin: auto" src="~/Content/kendo/Metro/loading-image.gif" />
</div>

<script>
    var msVehicleOnDataBound = function (e) {
        var vehicleId = @((int?)ViewData["Vehicle"]??0);
        if (vehicleId > 0) {
            e.sender.value(vehicleId);
        }
    };

    var refreshViewer = function () {
        var viewer = $("#reportViewer").data("telerik_ReportViewer");

        viewer.reportSource({
            report: viewer.reportSource().report,
            parameters: {
                VehiceIds: $('#msVehicle').data('kendoMultiSelect').value().toString(),
                FromDate: $('#dpBillFromDate').val(),
                ToDate: $('#dpBillToDate').val(),
                DatabaseName: '@entity.DatabaseName',
                CompanyName: '@entity.Name'
            }
        }).refreshReport();
    };

    var initReportViewer = function() {
        $("#reportViewer")
            .telerik_ReportViewer({
                serviceUrl: "@Url.HttpRouteUrl("DefaultApi",new {controller="Reports"})",
                reportSource: {
                    report: "RoadDistribution.trdp",
                    parameters: {
                        VehiceIds: $('#msVehicle').data('kendoMultiSelect').value().toString(),
                        FromDate: $('#dpBillFromDate').val(),
                        ToDate: $('#dpBillToDate').val(),
                        DatabaseName: '@entity.DatabaseName',
                        CompanyName: '@entity.Name'
                    }
                },
                //scaleMode: "FIT_PAGE_WIDTH",
                viewMode: "PRINT_PREVIEW",//'INTERACTIVE',
                printMode: "AUTO_SELECT",
                error: function() {
                    notify('Something went Wrong', 'warning');
                },
                renderingEnd: function() {
                    @if ((bool?)ViewData["Print"] == true)
                    {
                        @:this.commands.print.exec();
                    }
                }
            });
    };

    $(document).ready(function () {
        setTimeout(function () {
            initReportViewer();
        }, 2500);
    });
</script>
